.buf-deps/
backend-bin
vendor/
.env
.vscode/
.DS_Store
*.swp
**/__pycache__/
**/*.pyc
package-lock.json

# Bazel build outputs
.bazelrc.user
.bazel_cache/
bazel-backend
bazel-bin
bazel-out
bazel-testlogs